{% extends 'base.html' %}
{% load static %}

{% block content %}
  <div class="jumbotron vertical-center">
    <div class="jumbotron-text">
      <h1>Hello World!</h1>
      <p>CDM 용어 매핑 테이블 탐색을 지원합니다.<br>CDM 용어 매핑 테이블 중 하나를 선택해주세요.</p>
    </div>
  </div>
<!--
  {% for division in divisions %}
  <div>
    {% if division.app_name == "meas_lab" %}
      <a href="{% url 'meas_lab:search_form' %}">{{ division }}</a>
    {% elif division.app_name != "meas_lab" %}
      <a href="{% url 'meas_lab:search_form' %}">{{ division }}</a>
    {% endif %}
  </div>
  {% endfor %}
-->
{% endblock %}
